configparser==5.3.0
h5py==3.8.0
joblib==1.1.1
lightning==2.0.2
markupsafe==2.0.1
matplotlib==3.7.1
nltk==3.8.1
numpy==1.23.5
pandas==1.5.3
pyqt5==5.15.9
requests==2.28.2
retry==0.9.2
scikit_learn==1.0.2
sentence_transformers==2.2.2
tables==3.8.0
tensorboard==2.13.0
torch==1.13.1
torchmetrics==0.11.4
transformers==4.26.0




